---
import Layout from '../layouts/Layout.astro';
import PageHeading from '../components/PageHeading.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout pageTitle="About | Dave Novak">
  <PageHeading imageLight="/images/about/about-heading-light.svg" imageDark="/images/about/about-heading-dark.svg" />
  <section class="container">
    <Navigation eyeColor="var(--color-accent-1)" addMarginEnd="--margin-end: var(--space-2xl);"/>
    <article class="stack">
      <Header title="About"/>
      <p>
        I’m Dave. I make things & I’m a bit of a nomad . . .
      </p>
      <p>
        I grew up overseas in a teeny-tiny country called Belgium. I attended an international school during my formative years learning the ways and secrets of Belgium.</p>    
      <p>
        Pssst. It's waffles & chocolate.
      </p>
      <p>
        After my jaunt overseas, I hopped on over the pond to study philosophy in the mountains of Colorado for college. I spent way too much time philosophizing about Star Wars & discussing whether or not we inhabit a simulated universe — we probably do — before it was cool.
      </p>
      <p>
        A little while later, I ended up in Silicon Valley (somehow) making a living slinging tools  & building bicycles for all sorts of interesting people. 
      </p>
      <p>
        During all that time, though, I fell in love with making things for the internet.
      </p>
      <p>
        Now I’m a visual & UX designer with a flair for web development living in sunny Irvine, California.
      </p>
      <p>
        I  love seeing how users interact with the web & learning how to better develop more impactful & positive online experiences for everyone.
      </p>
      <p>
        All I really want to do is make this interwebs thing a fun & inviting place for everybody.
      </p>
      <p>
        When I’m not making stuff you can usually find me hanging out with my fiancee & our cat, losing most tabletop games, fumbling my way through video games, reading all the comics, and answering various questions regarding my height — usually basketball or weather-related.
      </p>
    </>

  </section>
  <Footer />
</Layout>
