---
import Layout from '../layouts/Layout.astro';
import PageHeading from '../components/PageHeading.astro';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
const allPosts = Object.values(import.meta.glob('./odds-&-ends/*.md', { eager: true }));
---

<Layout pageTitle="Odds & Ends | Dave Novak" hasFooter >
	<PageHeading imageLight="/images/odds&ends/odds-ends-heading-light.svg" imageDark="/images/odds&ends/odds-ends-heading-dark.svg" />
	<section class="container">
		<Navigation eyeColor="var(--color-accent-3)" addMarginEnd="--margin-end: var(--space-2xl);" hasHome />
		<article class="stack">
			<Header title="Odds & Ends" subTitle="A place, a location, a digital cupboard for me to store and share the things I'm working on, the random stuff that finds me, or the odd written bit of thought."/>
			<ul>
				{allPosts.map((post: any) => <li><a href={post.url} class="big-link" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);--hover-decoration: var(--color-dark);">{post.frontmatter.title}</a></li>)}
			</ul>
		</article>
	</section>
</Layout>