---
import Layout from '../layouts/Layout.astro';
import PageHeading from '../components/PageHeading.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout pageTitle="Odds & Ends | Dave Novak">
	<PageHeading imageLight="/images/odds&ends/odds-ends-heading-light.svg" imageDark="/images/odds&ends/odds-ends-heading-dark.svg" />
	<Navigation eyeColor="var(--color-accent-3)" addMarginEnd="--margin-end: var(--space-2xl);" />
	<section class="center stack container">
		<Header title="Odds & Ends" subTitle="A place, a location, a digital waiting room for me to share the things I'm working on, the random stuff that finds me, or the odd written bit of thought."/>
	</section>
	<Footer />
</Layout>