---
import Layout from '../layouts/Layout.astro';
import PageHeading from '../components/PageHeading.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import WorkSection from '../components/WorkSection.astro';
---

<Layout pageTitle="Work | Dave Novak">
	<PageHeading imageLight="/images/work/work-heading-light.svg" imageDark="/images/work/work-heading-dark.svg" />
	<Navigation eyeColor="var(--color-accent-2)" />
	<section class="center stack container">
		<Header title="Work" subTitle="* Project available upon request"/>
		<WorkSection />
	</section>
	<Footer />
</Layout>