---
---

<footer class="stack">
  <div class="footer-header"></div>
  <section class="center cluster" style="--space:6rem; --measure:100%;">
    <div class="stack" style="--space:0.5rem">
      <h2>Email me:</h2>
      <a href="mailto:novakdr23@gmail.com" class="big-link">novakdr(at)gmail(dot)com</a>
    </div>
    <div class="stack" style="--space:0.5rem">
      <h2>Elsewhere:</h2>
      <div class="cluster" style="align-items:center;">
        <a href="https://www.linkedin.com/in/novakdr" class="big-link">LinkedIn</a>
        <p>&</p>
        <a href="https://dribbble.com/davenovak" class="big-link">Dribbble</a>
      </div>
    </div>
    <div class="stack" style="--space: .5rem;justify-content:end;">
      <p>Handrolled by Me and <a href="https://astro.build/" class="link">Astro</a></p>
      <p>&#169; 2025 Dave Novak</p>
    </>
  </section>
</footer>
