<footer class="stack" id="footer">
  <div class="footer-header"></div>
  <section class="center cluster" style="--space:var(--space-xl);--measure: 85ch;">
    <div class="stack" style="--space:var(--space-3xs);">
      <h2>Email me:</h2>
      <a href="mailto:novakdr23@gmail.com" class="big-link">novakdr23(at)gmail(dot)com</a>
    </div>
    <div class="stack" style="--space:var(--space-3xs);">
      <h2>Elsewhere:</h2>
      <div class="cluster" style="align-items:center;">
        <a href="https://www.linkedin.com/in/novakdr" class="big-link">LinkedIn</a>
        <p>&</p>
        <a href="https://github.com/novakdr" class="big-link">GitHub</a>
        <p>&</p>
        <a href="https://dribbble.com/davenovak" class="big-link">Dribbble</a>
      </div>
    </div>
    <div class="stack" style="--space:var(--space-2xs);justify-content:end;">
      <p>Typed by my fingers with <a href="https://astro.build/" class="link">Astro</a></p>
      <p>&#169; 2025 David Novak</p>
    </>
  </section>
</footer>
