<footer class="stack" id="footer">
  <div class="footer-header"></div>
  <section class="center cluster" style="--space:var(--space-2xl);--measure: 85ch;">
    <div class="stack" style="--space:var(--space-s);">
      <h2>Email me:</h2>
      <a href="mailto:novakdr23@gmail.com" class="link link-big link-inverse">novakdr23(at)gmail(dot)com</a>
    </div>
    <div class="stack" style="--space:var(--space-2xs);">
      <h2>Elsewhere:</h2>
      <div class="flex-footer">
        <a href="https://www.linkedin.com/in/novakdr" class="link link-big link-inverse">LinkedIn</a>
        <p>&</p>
        <a href="https://github.com/novakdr" class="link link-big link-inverse">GitHub</a>
        <p>&</p>
        <a href="https://dribbble.com/davenovak" class="link link-big link-inverse">Dribbble</a>
      </div>
    </div>
    <div class="stack" style="--space:var(--space-2xs);justify-content:end;">
      <p>Typed by my fingers with <a href="https://astro.build/" class="link link-inverse">Astro</a></p>
      <p>&#169; 2025 David Novak</p>
    </>
  </section>
</footer>
