---
const { title, subTitle, link, linkName } =  Astro.props;
---
<div class="page-header stack" style="--space: var(--space-m);">
  <div class="header-container">
    <h1>{ title }</h1>
    { link && <a href={ link } class="link">{linkName}</a> }
  </div>
  { subTitle && <p class="small-text">{subTitle}</p> }
</div>