---
---

<main class="container">
  <a href="/home" class="h1 decorative-text">Dave Novak</a>
  <a href="" class="h1 decorative-outline">About</a>
  <a href="" class="h1 decorative-outline">Work</a>
  <a href="" class="h1 decorative-outline">Menagerie</a>
</main>