---
import Navigation from "./Navigation.astro"
import Footer from "./Footer.astro"
---

<section class="splash">
  <div class="splash-container stack">
    <p class="home-display">
      I'm Dave Novak. I'm a product designer, UX engineer, and tall human living around the mountains of Colorado.
    </p>
    <div class="grid">
      <span class="home-links card hover-work">
        <svg width="103" height="53" viewBox="0 0 103 53" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1_2131_853" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M51.5 8C31.0369 8 12.6515 15.0821 0 26.3354C12.6515 37.5888 31.0369 44.6709 51.5 44.6709C71.9631 44.6709 90.3485 37.5888 103 26.3354C90.3485 15.0821 71.9631 8 51.5 8ZM51.5897 41.7372C62.2742 41.7372 70.9358 34.8416 70.9358 26.3354C70.9358 17.8293 62.2742 10.9337 51.5897 10.9337C40.9051 10.9337 32.2435 17.8293 32.2435 26.3354C32.2435 34.8416 40.9051 41.7372 51.5897 41.7372Z"/>
          </mask>
          <path d="M0 26.3354L-1.94976 24.1434L-4.41409 26.3354L-1.94976 28.5274L0 26.3354ZM103 26.3354L104.95 28.5274L107.414 26.3354L104.95 24.1434L103 26.3354ZM1.94976 28.5274C14.0192 17.7918 31.6932 10.9337 51.5 10.9337V5.06633C30.3806 5.06633 11.2838 12.3723 -1.94976 24.1434L1.94976 28.5274ZM51.5 41.7372C31.6932 41.7372 14.0192 34.8791 1.94976 24.1434L-1.94976 28.5274C11.2838 40.2985 30.3806 47.6045 51.5 47.6045V41.7372ZM101.05 24.1434C88.9808 34.8791 71.3068 41.7372 51.5 41.7372V47.6045C72.6194 47.6045 91.7162 40.2985 104.95 28.5274L101.05 24.1434ZM51.5 10.9337C71.3068 10.9337 88.9808 17.7918 101.05 28.5274L104.95 24.1434C91.7162 12.3723 72.6194 5.06633 51.5 5.06633V10.9337ZM68.0021 26.3354C68.0021 32.6328 61.3132 38.8035 51.5897 38.8035V44.6709C63.2352 44.6709 73.8695 37.0504 73.8695 26.3354H68.0021ZM51.5897 13.8673C61.3132 13.8673 68.0021 20.0381 68.0021 26.3354H73.8695C73.8695 15.6204 63.2352 8 51.5897 8V13.8673ZM35.1772 26.3354C35.1772 20.0381 41.8661 13.8673 51.5897 13.8673V8C39.9441 8 29.3099 15.6204 29.3099 26.3354H35.1772ZM51.5897 38.8035C41.8661 38.8035 35.1772 32.6328 35.1772 26.3354H29.3099C29.3099 37.0504 39.9441 44.6709 51.5897 44.6709V38.8035Z" fill="var(--color-dark)" mask="url(#path-1-inside-1_2131_853)"/>
          <path d="M51.5896 18.6346L53.0035 23.6179L58.4295 20.8901L55.0031 25.2098L61.2626 26.3355L55.0031 27.4611L58.4295 31.7808L53.0035 29.053L51.5896 34.0363L50.1756 29.053L44.7497 31.7808L48.176 27.4611L41.9165 26.3355L48.176 25.2098L44.7497 20.8901L50.1756 23.6179L51.5896 18.6346Z" fill="var(--color-accent-2)" />
        </svg>
        <a href="/work" class="button" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">My work</a>
      </span>
      <span class="home-links card hover-about">
        <svg width="103" height="53" viewBox="0 0 103 53" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1_2131_853" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M51.5 8C31.0369 8 12.6515 15.0821 0 26.3354C12.6515 37.5888 31.0369 44.6709 51.5 44.6709C71.9631 44.6709 90.3485 37.5888 103 26.3354C90.3485 15.0821 71.9631 8 51.5 8ZM51.5897 41.7372C62.2742 41.7372 70.9358 34.8416 70.9358 26.3354C70.9358 17.8293 62.2742 10.9337 51.5897 10.9337C40.9051 10.9337 32.2435 17.8293 32.2435 26.3354C32.2435 34.8416 40.9051 41.7372 51.5897 41.7372Z"/>
          </mask>
          <path d="M0 26.3354L-1.94976 24.1434L-4.41409 26.3354L-1.94976 28.5274L0 26.3354ZM103 26.3354L104.95 28.5274L107.414 26.3354L104.95 24.1434L103 26.3354ZM1.94976 28.5274C14.0192 17.7918 31.6932 10.9337 51.5 10.9337V5.06633C30.3806 5.06633 11.2838 12.3723 -1.94976 24.1434L1.94976 28.5274ZM51.5 41.7372C31.6932 41.7372 14.0192 34.8791 1.94976 24.1434L-1.94976 28.5274C11.2838 40.2985 30.3806 47.6045 51.5 47.6045V41.7372ZM101.05 24.1434C88.9808 34.8791 71.3068 41.7372 51.5 41.7372V47.6045C72.6194 47.6045 91.7162 40.2985 104.95 28.5274L101.05 24.1434ZM51.5 10.9337C71.3068 10.9337 88.9808 17.7918 101.05 28.5274L104.95 24.1434C91.7162 12.3723 72.6194 5.06633 51.5 5.06633V10.9337ZM68.0021 26.3354C68.0021 32.6328 61.3132 38.8035 51.5897 38.8035V44.6709C63.2352 44.6709 73.8695 37.0504 73.8695 26.3354H68.0021ZM51.5897 13.8673C61.3132 13.8673 68.0021 20.0381 68.0021 26.3354H73.8695C73.8695 15.6204 63.2352 8 51.5897 8V13.8673ZM35.1772 26.3354C35.1772 20.0381 41.8661 13.8673 51.5897 13.8673V8C39.9441 8 29.3099 15.6204 29.3099 26.3354H35.1772ZM51.5897 38.8035C41.8661 38.8035 35.1772 32.6328 35.1772 26.3354H29.3099C29.3099 37.0504 39.9441 44.6709 51.5897 44.6709V38.8035Z" fill="var(--color-dark)" mask="url(#path-1-inside-1_2131_853)"/>
          <path d="M51.5896 18.6346L53.0035 23.6179L58.4295 20.8901L55.0031 25.2098L61.2626 26.3355L55.0031 27.4611L58.4295 31.7808L53.0035 29.053L51.5896 34.0363L50.1756 29.053L44.7497 31.7808L48.176 27.4611L41.9165 26.3355L48.176 25.2098L44.7497 20.8901L50.1756 23.6179L51.5896 18.6346Z" fill="var(--color-accent-1)" />
        </svg>
        <a href="/about" class="button" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">About me</a>
      </span>
      <span class="home-links card hover-odds-ends">
        <svg width="103" height="53" viewBox="0 0 103 53" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1_2131_853" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M51.5 8C31.0369 8 12.6515 15.0821 0 26.3354C12.6515 37.5888 31.0369 44.6709 51.5 44.6709C71.9631 44.6709 90.3485 37.5888 103 26.3354C90.3485 15.0821 71.9631 8 51.5 8ZM51.5897 41.7372C62.2742 41.7372 70.9358 34.8416 70.9358 26.3354C70.9358 17.8293 62.2742 10.9337 51.5897 10.9337C40.9051 10.9337 32.2435 17.8293 32.2435 26.3354C32.2435 34.8416 40.9051 41.7372 51.5897 41.7372Z"/>
          </mask>
          <path d="M0 26.3354L-1.94976 24.1434L-4.41409 26.3354L-1.94976 28.5274L0 26.3354ZM103 26.3354L104.95 28.5274L107.414 26.3354L104.95 24.1434L103 26.3354ZM1.94976 28.5274C14.0192 17.7918 31.6932 10.9337 51.5 10.9337V5.06633C30.3806 5.06633 11.2838 12.3723 -1.94976 24.1434L1.94976 28.5274ZM51.5 41.7372C31.6932 41.7372 14.0192 34.8791 1.94976 24.1434L-1.94976 28.5274C11.2838 40.2985 30.3806 47.6045 51.5 47.6045V41.7372ZM101.05 24.1434C88.9808 34.8791 71.3068 41.7372 51.5 41.7372V47.6045C72.6194 47.6045 91.7162 40.2985 104.95 28.5274L101.05 24.1434ZM51.5 10.9337C71.3068 10.9337 88.9808 17.7918 101.05 28.5274L104.95 24.1434C91.7162 12.3723 72.6194 5.06633 51.5 5.06633V10.9337ZM68.0021 26.3354C68.0021 32.6328 61.3132 38.8035 51.5897 38.8035V44.6709C63.2352 44.6709 73.8695 37.0504 73.8695 26.3354H68.0021ZM51.5897 13.8673C61.3132 13.8673 68.0021 20.0381 68.0021 26.3354H73.8695C73.8695 15.6204 63.2352 8 51.5897 8V13.8673ZM35.1772 26.3354C35.1772 20.0381 41.8661 13.8673 51.5897 13.8673V8C39.9441 8 29.3099 15.6204 29.3099 26.3354H35.1772ZM51.5897 38.8035C41.8661 38.8035 35.1772 32.6328 35.1772 26.3354H29.3099C29.3099 37.0504 39.9441 44.6709 51.5897 44.6709V38.8035Z" fill="var(--color-dark)" mask="url(#path-1-inside-1_2131_853)"/>
          <path d="M51.5896 18.6346L53.0035 23.6179L58.4295 20.8901L55.0031 25.2098L61.2626 26.3355L55.0031 27.4611L58.4295 31.7808L53.0035 29.053L51.5896 34.0363L50.1756 29.053L44.7497 31.7808L48.176 27.4611L41.9165 26.3355L48.176 25.2098L44.7497 20.8901L50.1756 23.6179L51.5896 18.6346Z" fill="var(--color-accent-3)" />
        </svg>
        <a href="/odds&ends" class="button" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">Odds & ends</a>
      </span>
    </div>
  </div>
</section>
