---
import Navigation from "./Navigation.astro"
import Footer from "./Footer.astro"
---

<section class="splash">
  <div class="nav-container">
    <Navigation eyeColor="pink"/>
  </div>
</section>
<Footer />
