---
import Navigation from "./Navigation.astro"
import Footer from "./Footer.astro"
---

<section class="splash">
  <div class="nav-container">
    <Navigation eyeColor="var(--color-accent-4)" measure="--nav-measure:120ch;" classAdd="vertical"/>
  </div>
</section>
<Footer />
