---
---

<main class="container">
	<h1 class="h1 decorative-text">Dave Novak</h1>
	<h2 class="h1 decorative-outline">Work</h2>
	<h2 class="h1 decorative-outline">About</h2>
	<h2 class="h1 decorative-outline">Menagerie</h2>
</main>