<div class="stack">
  <a href="https://thoughtbot.com/case-studies/HBR-new-mobile-app" class="big-link" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">Harvard Business Review Mobile App</a>
  <div class="work-tags">
    <p class="small-text">UX Research</p>
    <p>/</p>
    <p class="small-text">UI Kit</p>
    <p>/</p>
    <p class="small-text">Design System</p>
    <p>/</p>
    <p class="small-text">Mobile Development</p>
    <p>/</p>
    <p class="small-text">React Native</p>
  </div>
</div>

<hr/>

<div class="stack">
  <a href="https://portal.closeknit.com" class="big-link" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">CloseKnit Health Frontend Development</a>
  <div class="work-tags">
    <p class="small-text">Frontend Development</p>
    <p>/</p>
    <p class="small-text">Prototyping</p>
    <p>/</p>
    <p class="small-text">Ruby on Rails</p>
    <p>/</p>
    <p class="small-text">Tailwind</p>
  </div>
</div>

<hr/>

<div class="stack">
  <a class="big-link disabled" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">Culligan Quench Inventory Management App</a>
  <div class="work-tags">
    <p class="small-text">UI/UX</p>
    <p>/</p>
    <p class="small-text">Frontend Development</p>
    <p>/</p>
    <p class="small-text">NextJS</p>
  </div>
</div>

<hr/>

<div class="stack">
  <a class="big-link disabled" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">Clozemaster Save Streaks UX Research</a>
  <div class="work-tags">
    <p class="small-text">UX Research</p>
    <p>/</p>
    <p class="small-text">User Interviews</p>
    <p>/</p>
    <p class="small-text">Testing</p>
    <p>/</p>
    <p class="small-text">Prototyping</p>
  </div>
</div>

<hr/>

<div class="stack">
  <a class="big-link disabled" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">Uplift Procure Procurement Platform</a>
  <div class="work-tags">
    <p class="small-text">UI/UX</p>
    <p>/</p>
    <p class="small-text">Startup</p>
    <p>/</p>
    <p class="small-text">Frontend Development</p>
    <p>/</p>
    <p class="small-text">RemixJS</p>
  </div>
</div>

<hr/>

<div class="stack">
  <a class="big-link disabled" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">TrueVisa (BAL) UI/UX & Frontend Development</a>
  <div class="work-tags">
    <p class="small-text">UI/UX</p>
    <p>/</p>
    <p class="small-text">Frontend Development</p>
    <p>/</p>
    <p class="small-text">NextJS</p>
    <p>/</p>
    <p class="small-text">Tailwind</p>
  </div>
</div>

<hr/>
<div class="stack">
  <a href="https://www.lxdinc.com/" class="big-link" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">LXD Research & Display Frontend Delevopment</a>
  <div class="work-tags">
    <p class="small-text">Frontend Development</p>
    <p>/</p>
    <p class="small-text">Logo Update</p>
    <p>/</p>
    <p class="small-text">Tailwind</p>
  </div>
</div>

<hr/>
