---
const allPosts = Object.values(import.meta.glob('../pages/work/*.md', { eager: true }));
---

{allPosts.map((post: any) => 
    <div class="stack">
      <a href={post.url} class="big-link" style="--hover-bg-color: var(--color-dark);--hover-text-color: var(--color-light);">{post.frontmatter.title}</a>
      <div class="work-tags">
        {post.frontmatter.skills.map((skill: any) => 
          <p class="small-text">{skill}</p>
          <p>/</p>
        )}
      </div>
    </div>
    <hr/>
  )
}
