@font-face {
  font-family: "Inconsolata";
  src: url("../../fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-stretch: 25% 150%;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Jaapokki";
  src: url("/fonts/jaapokki-regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  /* COLOR */
  --coffee-stained-white-shirt: #FEFAE4;
  --a-soul-of-sorts: #0A0A0A;
  --pacific-salmon-red: #FF6262;
  --my-large-staub-pan-yellow: #E6AA2B;
  --evil-eye-blue: #2D6CFF;
  --a-special-shade-of-purple: #A772FF;

  --color-light: var(--coffee-stained-white-shirt);
  --color-dark: var(--a-soul-of-sorts);
  --color-accent-1: var(--my-large-staub-pan-yellow);
  --color-accent-2: var(--pacific-salmon-red);
  --color-accent-3: var(--evil-eye-blue);
  --color-accent-4: var(--a-special-shade-of-purple);

  /* TYPOGRAPHY */
  --font-header: Jaapokki, sans-serif;
  --font-base: Inconsolata, monospace;

  /* TYPE SCALE */
  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /* Step -1: 15px → 16px */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3rem, 1.957rem + 5.217vw, 6rem);;

  /* SPACE SCALE */
  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* EXTRA STUFF */
  --border-dark: 2px dashed var(--color-dark);
  --border-light: 2px dashed var(--color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: var(--a-soul-of-sorts);
    --color-dark: var(--coffee-stained-white-shirt);
  }
}
